.font-muli-20 {
  font-size: 60px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #484848;
  margin: 0
}

.txt-center-hoz {
  text-align: center;
}

.light-blue{
  color: #4a90e2
}
.bold{
  font-weight: bold;
}
